{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>DDOJA | Registro de Participante</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
	{% if request.user.is_authenticated %}
		
		<div class="container col-md-4 col-md-offset-4">
						
			<h1 class="text-center">Registro de Participante</h1>

			<form method="POST" action="" style="margin-top:30px"> {% csrf_token %}
				{{ form|crispy }}
				<div class="text-center">
					<input class="btn btn-default btn-info" type="submit" value="Guardar" style="margin-top: 30px; width: 35%" />
					<a class="btn btn-default" href="{% url 'courses:detail' curso %}" style="margin-top: 30px; margin-left: 0px; width: 35%">Volver</a>
				</div>
			</form>	
		</div>

	{% else %}
		<h1>Lo sentimos, no tiene permiso para ver esta página. Intente hacer login</h1>
	{% endif %}

	<script 
		src="https://code.jquery.com/jquery-3.4.1.min.js" 
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
		crossorigin="anonymous">
	</script>

	<script 
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous">
	</script> 

</body>
</html>